<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersonManagement" />
        <binding name="BasicHttpBinding_IBookingManagement" />
        <binding name="BasicHttpBinding_ICateringManagement" />
        <binding name="BasicHttpBinding_IInventoryManagement" />
        <binding name="BasicHttpBinding_IRoomManagement" />
        <binding name="BasicHttpBinding_IEquipmentManagement" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/PersonManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonManagement"
        contract="BookItService.IPersonManagement" name="BasicHttpBinding_IPersonManagement" />
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/BookingManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManagement"
        contract="BookItService.IBookingManagement" name="BasicHttpBinding_IBookingManagement" />
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/CateringManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICateringManagement"
        contract="BookItService.ICateringManagement" name="BasicHttpBinding_ICateringManagement" />
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/InventoryManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryManagement"
        contract="BookItService.IInventoryManagement" name="BasicHttpBinding_IInventoryManagement" />
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/RoomManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomManagement"
        contract="BookItService.IRoomManagement" name="BasicHttpBinding_IRoomManagement" />
      <endpoint address="http://rentit.itu.dk/RentIt12/Services/Service.svc/EquipmentManagement"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEquipmentManagement"
        contract="BookItService.IEquipmentManagement" name="BasicHttpBinding_IEquipmentManagement" />
    </client>
  </system.serviceModel>
</configuration>