<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="itubsContext" connectionString="metadata=res://*/Data.BookingDataModel.csdl|res://*/Data.BookingDataModel.ssdl|res://*/Data.BookingDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rentit.itu.dk;initial catalog=RENTIT12;persist security info=True;user id=RentIt12Db;password=Zaq12wsx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>